# Debian preseed

### Localization
d-i debian-installer/locale string en_US
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/supported-locales multiselect en_US.UTF-8

### Keyboard selection
d-i console-tools/archs select at
d-i console-keymaps-at/keymap select us
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/hostname string dtd
d-i netcfg/get_hostname string dtd
d-i netcfg/get_hostname seen true
d-i netcfg/domain string localdomain
d-i netcfg/get_domain string localdomain
d-i netcfg/wireless_wep string
d-i hw-detect/load_firmware boolean true

### Skip scanning CDs/DVDs
d-i apt-setup/cdrom/set-failed boolean false
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false   

### Mirror settings
d-i mirror/codename string testing
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.%COUNTRYCODE%.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i mirror/suite string testing

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string %TIMEZONE%
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/mount_style select uuid
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/method string lvm
d-i partman-efi/non_efi_system true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/confirm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-partitioning/confirm_write_new_label boolean true

### Account setup
d-i passwd/make-user boolean false
d-i passwd/root-password password %ROOT_PASSWORD%
d-i passwd/root-password-again password %ROOT_PASSWORD%

### Apt setup
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/services-select multiselect updates

### Package selection
tasksel tasksel/first multiselect
# Individual additional packages to install
d-i pkgsel/include string %ADD_PACKAGES%
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false

### Finishing up the installation
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean false

### Advanced options
d-i preseed/late_command string \
        sed -i "s/#PermitRoot.*/PermitRootLogin yes/" /target/etc/ssh/sshd_config; \
        sed -i "s/GRUB_TIMEOUT=.*$/GRUB_TIMEOUT=0/" /target/etc/default/grub; \
        in-target update-grub
